<div class="card flex justify-content-start mb-5">
  <div class="flex flex-row align-items-center">
    <div>
      <app-field fieldLabel="Pozicija">
        <app-position-dropdown
          [formCtrl]="asFormControl(form.controls['position'])"
        >
        </app-position-dropdown>
      </app-field>
    </div>
    <div>
      <app-field [fieldLabel]="'WinRate veci od'">
        <input
          class="inputfield w-full"
          type="text"
          pInputText
          maxlength="150"
          [formControl]="asFormControl(form.controls['winrate'])"
        />
      </app-field>
    </div>
    <div>
      <app-field [fieldLabel]="'Rating veci od'">
        <input
          class="inputfield w-full"
          type="number"
          pInputText
          maxlength="150"
          [formControl]="asFormControl(form.controls['rating'])"
        />
      </app-field>
    </div>
    <div class="flex ml-3">
      <button pButton (click)="resetFilter()">Reset filter</button>
    </div>
  </div>
</div>
